<!DOCTYPE html>

<html>
    <head>
        <title>Todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>
    <body>
        <h1>Ma todolist</h1>
        <ul id="zone_todo">
        <% todolist.forEach(function(todo, index) { %>
            <li><button class="delete" id="<%= index %>">✘</button> <%= todo %></li>
        <% }); %>
        </ul>
        <form action="/todo" method="post" id="form_todo">
            <p>
                <label for="newtodo">Que dois-je faire ?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" />
            </p>
        </form>

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>

            // Connexion à socket.io
            var socket = io.connect('http://localhost:8080');
            var nbTasks = 0;

            // Quand on reçoit un message, on l'insère dans la page
            socket.on('ajouter', function(data) {
                insereTask(data);
            });

            socket.on('supprimer', function(id) {
                deleteTask(id);
            });

            socket.on('nbTasksRefresh', function(nb){
                nbTasks = nb;
                console.log('On met le nb Taches a jours :' + nbTasks);
            });

            // Lorsqu'on envoie le formulaire, on transmet le message et on l'affiche sur la page
            $('#form_todo').submit(function () {
                var data = $('#newtodo').val();
                socket.emit('ajouter', data); // Transmet le message aux autres
                insereTask(data); // Affiche le message aussi sur notre page
                $('#newtodo').val('').focus(); // Vide la zone de Chat et remet le focus dessus
                return false; // Permet de bloquer l'envoi "classique" du formulaire
            });

            $('.delete').click(function () {
                var $deleted = $(this);
                var id = $deleted.attr('id');
                console.log(id);
                /*socket.emit('ajouter', data); // Transmet le message aux autres
                insereTask(data); // Affiche le message aussi sur notre page
                $('#newtodo').val('').focus(); // Vide la zone de Chat et remet le focus dessus*/
                return false; // Permet de bloquer l'envoi "classique" du formulaire
            });
            
            // Ajoute une task dans la page
            function insereTask(data) {
                nbTasks+=1;
                console.log('nb Tasks : '+nbTasks);
                $('#zone_todo').prepend('<li><button class="delete" id='+nbTasks+'>✘</button>'+data+'</li>');
            }

            function deleteTask(id) {

            }
        </script>
    </body>
</html>